<div class="collection">
  <div class="container">
    <div class="collection-title d-flex justify-content-between">
      <h2>All Charts</h2>
      <div class="btn-group">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Export charts as
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-item">
            <table class="qrcode">
             <% @qr.modules.each_index do |x| -%>
               <tr>
               <% @qr.modules.each_index do |y| -%>
                <% if @qr.dark?(x,y) -%>
                  <td class="black"/>
                <% else -%>
                  <td class="white"/>
                <% end -%>
               <% end -%>
               </tr>
             <% end -%>
            </table>
          </div>
          <div class="dropdown-divider"></div>
          <a id="export-ppt" class="dropdown-item" href="#">Powerpoint (.ppt)</a>
        </div>
      </div>
    </div>
    <div class="row" id="charts">
        <% @graphs.each_with_index do | graph, i | %>
              <div class="col-md-4">
            <% if graph.category.nil? %>
              <p>No preview available</p>
            <% elsif graph.category.include?('bar') %>
              <%= bar_chart @multi_series_options[i][:options], thousands: ",", prefix: "$" %>
            <% elsif graph.category.include?('line') %>
              <%= line_chart @multi_series_options[i][:options], thousands: ",", prefix: "$" %>
            <% elsif graph.category.include?('pie') %>
              <%= pie_chart @pie_options[i][:options], donut: true, legend: "bottom", prefix: "%" %>
            <% elsif graph.category.include?('geo') %>
              <%= geo_chart @geo_options[i][:options], thousands: ",", prefix: "$" %>
            <% elsif graph.category.include?('area') %>
              <%= area_chart @multi_series_options[i][:options], thousands: ",", prefix: "$" %>
            <% end %>

            <%= link_to graph_datatables_path(graph) do %>
            <div class="collection-card">
              <%= graph.name.nil? ? "Graph #{i + 1}" : graph.name %>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var buttonPpt = document.getElementById("export-ppt");
  buttonPpt.addEventListener('click', function(){
    var allCanvas = document.querySelectorAll("canvas");
    var allData = []
    allCanvas.forEach(function(canvas){
      allData.push(canvas.toDataURL());
    });
    var pptx = new PptxGenJS();
    allData.forEach(function(d){
      var slide = pptx.addNewSlide();
      slide.addImage({ data: d, x:0.0, y:0.0, w:5.0, h:4.0 });
    })
    pptx.save('presentation');
  });

  const list = document.querySelector('#charts');
  Sortable.create(list, {
    ghostClass: "ghost",
    animation: 150,
    onEnd: (event) => {
      alert(`${event.oldIndex} moved to ${event.newIndex}`);
    }
  });
</script>
