<div class="collection">
  <div class="container">
    <div class="collection-header d-flex justify-content-between">
      <aside class="d-flex collection-title">
        <h2>All Charts</h2>
        <%= link_to "Upload more files", new_collection_datatable_path(@collection.slug), class: "btn btn-outline-primary" %>
      </aside>

      <aside>
        <div class="btn-group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Share via QR code
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <table class="qrcode">
             <% @qr.modules.each_index do |x| -%>
               <tr>
               <% @qr.modules.each_index do |y| -%>
                <% if @qr.dark?(x,y) -%>
                  <td class="black"/>
                <% else -%>
                  <td class="white"/>
                <% end -%>
               <% end -%>
               </tr>
             <% end -%>
            </table>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download charts as
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a id="export-ppt" class="dropdown-item" href="#">Powerpoint (.pptx)</a>
          </div>
        </div>
      </aside>
    </div>
    <div class="row" id="charts">
      <% @graphs.each_with_index do | graph, i | %>
        <div class="col-md-4">
          <div class="collection-card">
            <div class="collection-card-chart">
              <% if graph.category.nil? %>
                <p>No preview available</p>
              <% elsif graph.category.include?('bar') %>
                <%= bar_chart @multi_series_options[i][:options], thousands: ",", prefix: "$" %>
              <% elsif graph.category.include?('line') %>
                <%= line_chart @multi_series_options[i][:options], thousands: ",", prefix: "$" %>
              <% elsif graph.category.include?('pie') %>
                <%= pie_chart @pie_options[i][:options], donut: true, legend: "bottom", prefix: "%" %>
              <% elsif graph.category.include?('geo') %>
                <%= geo_chart @geo_options[i][:options], thousands: ",", prefix: "$" %>
              <% elsif graph.category.include?('area') %>
                <%= area_chart @multi_series_options[i][:options], thousands: ",", prefix: "$" %>
              <% end %>
            </div>
            <div class="collection-card-link">
              <%= link_to graph_datatables_path(graph) do %>
                <%= graph.name.nil? ? "Graph #{i + 1}" : graph.name %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var buttonPpt = document.getElementById("export-ppt");
  buttonPpt.addEventListener('click', function(){
    var allCanvas = document.querySelectorAll("canvas");
    var allData = []
    allCanvas.forEach(function(canvas){
      allData.push(canvas.toDataURL());
    });
    var pptx = new PptxGenJS();
    allData.forEach(function(d){
      var slide = pptx.addNewSlide();
      slide.addImage({ data: d, x:2.5, y:0.5, w:5.0, h:5.0 });
    })
    pptx.save('presentation');
  });

  if ( !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    const list = document.querySelector('#charts');
    Sortable.create(list, {
      ghostClass: "ghost",
      animation: 150
    });
  };
</script>
