<h1 class="text-center">All data in the Excel</h1>

<div class="row">
  <div class="col-12">
    <% @datatables.each do |e| %>
    <p class="text-center"><%= e.key %>: <%= e.value %>
      <%= link_to  'Edit', edit_graph_datatable_path(e.graph_id, e.id) %>
      <%= link_to  'Delete', graph_datatable_path(e.graph_id, e.id), method: :delete %>
    </p>
    <% end %>
  </div>
</div>
<%= form_for @datatable, url: {action: "create"} do |f| %>
  <%= f.label :key %>
  <%= f.text_field :key %>
  <%= f.label :value %>
  <%= f.text_field :value %>
  <%= f.submit %>
<% end %>

<!-- radio button -->
<%= simple_form_for @graph do |f| %>
  <%= f.input :category, as: :radio_buttons, collection: [['pie_chart', 'pie chart'], ['bar_chart', 'bar chart'], ['line_chart', 'line chart']], label_method: :second, value_method: :first, class: "tablinks" %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<!-- charts -->
<div id="canvas" class="tabcontent canvas-pie_chart">
  <%= pie_chart @data_array %>
</div>
<div id="canvas" class="tabcontent canvas-bar_chart">
  <%= bar_chart @data_array %>
</div>
<div id="canvas" class="tabcontent canvas-line_chart">
  <%= line_chart @data_array %>
</div>


<!-- javascript -->
<script>
  function makeChart(e, tableType) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");

    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    var chartTypeClass = ".canvas-" + tableType
    document.querySelector(chartTypeClass).style.display = "block";
    e.currentTarget.className += " active";
  }

  let buttons = document.querySelectorAll('input.radio_buttons');
  Array.from(buttons).forEach(btn => {
    btn.addEventListener('click', function(event) {
      console.log("radio button clicked!", event)
      makeChart(event, event.originalTarget.value)
    });
  });
</script>


