<h1>This is index page for datatable</h1>

<% @datatables.each do |e| %>
<p><%= e.key %>: <%= e.value %></p>
<% end %>
<%= @datatables.count %>

<div class = "tab">
  <button onclick="makeChart(event, 'pie'); setVariable(event, 'pie')" class = "tablinks">Pie chart</button>
  <button onclick="makeChart(event, 'bar')" class = "tablinks">Bar chart</button>
  <button onclick="makeChart(event, 'line')" class = "tablinks">Line chart</button>
</div>


<div id="canvas" class="tabcontent canvas-pie">
  <%= pie_chart @data_array %>
</div>

<div id="canvas" class="tabcontent canvas-bar">
  <%= bar_chart @data_array %>
</div>

<div id="canvas" class="tabcontent canvas-line">
  <%= line_chart @data_array %>
</div>

<table class="qrcode">
 <% @qr.modules.each_index do |x| -%>
   <tr>
   <% @qr.modules.each_index do |y| -%>
    <% if @qr.dark?(x,y) -%>
      <td class="black"/>
    <% else -%>
      <td class="white"/>
    <% end -%>
   <% end -%>
   </tr>
 <% end -%>
</table>



<button id="save-btn">Save image</button>
<%= link_to "save", graph_path(@graph), method: :PATCH %>
<%= link_to "See the awesome graph!", graph_path(@datatables[0].graph_id) %>


<script>
  var canvas = document.querySelector("#canvas canvas");
  var button = document.getElementById("save-btn");
  button.addEventListener('click', function(){
    canvas.toBlob(function(blob) {
      saveAs(blob, "pretty image.png");
    })
  });
  console.log('canvas', canvas)
  console.log('button', button)
</script>


<script>
    const makeChart = (e, tableType) => {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    var chartTypeClass = ".canvas-" + tableType

    document.querySelector(chartTypeClass).style.display = "block";
    e.currentTarget.className += " active";
    }
</script>

<script>
  const setVariable = (e, chartType) => {
  console.log (chartType)
}

</script>
