<h1>This is index page for datatable</h1>

<% @datatables.each do |e| %>
<p><%= e.key %>: <%= e.value %></p>
<% end %>
<%= @datatables.count %>

<button onclick="makeChart(event, 'pie')" class = "tablinks">Pie chart</button>
<button onclick="makeChart(event, 'bar')" class = "tablinks">Bar chart</button>
<button onclick="makeChart(event, 'line')" class = "tablinks">Line chart</button>


<div id="canvas" class="tabcontent">
  <%= pie_chart @data_array %>
</div>

<div id="canvas" class="tabcontent">
  <%= bar_chart @data_array %>
</div>

<div id="canvas" class="tabcontent">
  <%= line_chart @data_array %>
</div>

<table class="qrcode">
 <% @qr.modules.each_index do |x| -%>
   <tr>
   <% @qr.modules.each_index do |y| -%>
    <% if @qr.dark?(x,y) -%>
      <td class="black"/>
    <% else -%>
      <td class="white"/>
    <% end -%>
   <% end -%>
   </tr>
 <% end -%>
</table>



<button id="save-btn">Save image</button>
<%= link_to "See the awesome graphs!", graph_path(@datatables[0].graph_id) %>

<script>
  var canvas = document.querySelector("#canvas canvas");
  var button = document.getElementById("save-btn");
  button.addEventListener('click', function(){
    canvas.toBlob(function(blob) {
      saveAs(blob, "pretty image.png");
    })
  });
  console.log('canvas', canvas)
  console.log('button', button)
</script>


<script>
  function makeChart(argument) {

    tabcontent = document.getElementsByClassName("tabcontent");

    tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
    document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
  }
</script>
