<h1>This is index page for datatable</h1>

<% @datatables.each do |e| %>
<p><%= e.key %>: <%= e.value %></p>
<% end %>


<%= @datatables.count %>
<%= pie_chart @data_array %>
<%= bar_chart @data_array %>
<%= link_to "See the awesome graphs!", graph_path(@datatables[0].graph_id) %>
