<nav class="nav-breadcrumb">
  <div class="container">
    <%= link_to "Back to All Charts", collection_path(@graph.collection.slug) %>
  </div>
</nav>

<section class="preview">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

        <div id="canvas" class="tabcontent rounded shadow-sm canvas-pie_chart" style="display: block;">
          <%= pie_chart @pie_array, donut: false, legend: "bottom", suffix: "%" %>
        </div>
        <div id="canvas" class="tabcontent rounded shadow-sm canvas-bar_chart">
          <%= bar_chart @options , thousands: ",", prefix: "$"%>
        </div>
        <div id="canvas" class="tabcontent rounded shadow-sm canvas-area_chart">
          <%= area_chart @options, thousands: "," %>
        </div>
        <div id="canvas" class="tabcontent rounded shadow-sm canvas-line_chart">
          <%= line_chart @options, thousands: "," %>
        </div>
        <div id="canvas" class="tabcontent rounded shadow-sm canvas-geo_chart">
          <%= geo_chart @geo_array %>
        </div>

        <ul class="nav nav-tabs nav-justified" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-chart-tab" data-toggle="pill" href="#pills-chart" role="tab" aria-controls="pills-chart" aria-selected="true"><img src="<%= image_path "chart-template.png" %>" alt="">Chart Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-data-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="false"><img src="<%= image_path "chart-edit.png" %>" alt="">Data Editor</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-chart" role="tabpanel" aria-labelledby="pills-chart-tab">
            <%= simple_form_for @graph do |f| %>
              <%= f.input :category, as: :radio_buttons, collection: [['pie_chart', 'Pie chart'], ['bar_chart', 'Bar chart'], ['area_chart', 'Area chart'],['line_chart', 'Line chart'], ['geo_chart', 'Geo chart']], label_method: :second, value_method: :first, checked: ['pie_chart', 'Pie chart'] %>
              <%= f.input :name, label: 'Name of chart', as: :string %>
              <%= f.input :x_axis_title, as: :string %>
              <%= f.input :y_axis_title, as: :string %>
              <%= f.submit 'Create my chart', class: "btn btn-primary" %>
            <% end %>
          </div>
          <div class="tab-pane fade" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Series</th>
                  <th scope="col">Value</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @datatables.each do |e| %>
                <tr>
                  <td scope="row"><%= e.series %></td>
                  <td><%= e.value %></td>
                  <td>
                    <%= link_to  'Edit', edit_graph_datatable_path(params[:graph_slug], e.id), class: "text-secondary" %>
                    <%= link_to  'Delete', graph_datatable_path(e.graph_id, e.id), method: :delete, class: " text-danger" %>
                  </td>
                </tr>
                <% end %>
                  </tbody>
            </table>
            <%= simple_form_for @datatable, url: {action: "create"} do |f| %>
              <%= f.input :series, label: 'Label' %>
              <%= f.input :value %>
              <%= f.submit 'Add data', class: "btn btn-outline-primary" %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- javascript -->
<script>
  function displayChart(type) {
    let i, tabcontent;
    tabcontent = document.querySelectorAll(".tabcontent");

    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    let chartType = ".canvas-" + type
    document.querySelector(chartType).style.display = "block";
  }

  let buttons = document.querySelectorAll('input.radio_buttons');
  Array.from(buttons).forEach(btn => {
    btn.addEventListener('click', function(event) {
      displayChart(event.target.value)
    });
  });
</script>


