<section class="uploader">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Upload here</h1>
        <%= form_tag import_graph_datatables_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= form_for @datatable, url: {action: "create"} do |f| %>
  <%= f.label :key %>
  <%= f.text_field :key %>
  <%= f.label :value %>
  <%= f.text_field :value %>
  <%= f.submit %>
<% end %>
